.headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .headerFlexInner {
    display: flex;
    align-items: center;
  }
  
  .headerLogo {
    width: 6em;
    filter: brightness(100);
  }
  
  header * {
    color: #fff
  }