.headerFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.headerFlexInner {
  display: flex;
  align-items: center;
}

.headerLogo {
  width: 8em;
  filter: brightness(100);
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 100px; /* temporary fix for scroll behavior with sticky header */
}

header * {
  color: #fff
}

[dir="ltr"] .customFab {
  left: 16px;
}

[dir="rtl"] .customFab {
  right: 16px;
}